<form method="post">
    <div class="form-group">
        <label for="MusikerID">Musikerns ID:</label>
        <input type="number" id="MusikerID" name="MusikerID">
        <br>
        <label for="MusikerName">Musikeres Namn:</label>
        <input type="text" class="form-control" id="MusikerName" name="MusikerName">
    </div>
    <button type="submit" class="btn btn-primary">Lägg till Musiker</button>
</form>
